.App {
  height: 100vh;
  background-color: lightblue;
}

.incogno{
  position:relative;
  top:15%;
  left:44%;
}

.login{
  position:relative;
  left:40%;
}

.login_form{
  border: 2px solid rgb(47, 68, 163);
  width: 420px;
  height: 270px;
  padding: 30px;
  position: relative;
  top:20%;
  left:35%;
}

.login_input{
  width: 70%;
  padding: 6px 1px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid rgb(0, 255, 247);
  border-radius: 1px;
  position: relative;
}

.login_submit{
  width: 70%;
  padding: 12px;
  position: relative;
  top:10px;
  left:50px
}

.submit_notify{
  position: relative;
  top:46px;
  left:120px
}

.create_acc{
  position: relative;
  top:60px;
  left:110px
}