.App {
    text-align: center;
  }

  
.card {
    background: #ecf2f7 ;
    margin: auto auto; 
    float: none; 
    padding: 50px;
    margin-top: 10%;
    width: 16rem;
}

.alert{
    margin: auto auto;
    float: none;
    padding: 8px;
    margin-top: 1%;
    width: 12rem;
}
