.app{
  min-height: 100vh;
  background: rgb(61, 167, 202);
  
  justify-content: space-around;
  align-items: center;
}
.posts{
  display: block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 16px 16px 26px 16px;
  max-width: 200px;

  position: relative;
  left: 40px;
  
}


.posts h2{
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

.posts p{
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}

.posts button{
  font-size: 16px;
  font-weight:normal;
  border-radius: 2px;
  width: 70px;
  position: absolute;

}

.posts .delete{
  position: relative;
  top: 10%;
  left: 62.5%;
}

.red{
  color: red;
  font-size: 50px;
}

.home{
  
}

.home button{
  postion: absolute;
  top: 15px;
  left: 120px
}

.home p{
  position: absolute;
  left: 10px
}

.desc{
  position: relative;
  left: 300px;
}