.app{
  min-height: 100%;
  background: rgb(61, 167, 202);
  
  justify-content: space-around;
  align-items: center;
}
.posts{
  width: 320px;
  padding: 10px;
  border: 5px solid rgb(94, 92, 220);
  margin: 20px;
  
}


.posts h2{
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

.posts p{
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}



.posts .delete{
  margin: 2%;
  position: relative;
  top: 10%;
  left: 62.5%;
}

.desc{
  position: relative;
  left: 300px;
}

.postStory{
  position: inherit;
}

.postsList{
  list-style-type:none;
}

.addPost{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-title{
  position: absolute;
}
.post-story{
  position: relative;
  top:40px;
}

.post-button{
  position:sticky;
  
}

.comments{
  
}